* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Arial, Tahoma;
}

a {
    text-decoration: none;
    color: white;
}


/*-----header-----*/
#header {
    width: 100%;
    height: 155px;
    border-bottom: 1px solid #394540;
    position: fixed;
    z-index: 100;
    background-color: white;
}

#logo {
    width: 60%;
    float: left;
}

#login-register {
    width: 40%;
    height: 155px;
    line-height: 155px;
    float: left;
}


/*-----Container-----*/
#container {
    float: left;
    padding-top: 155px;
    border: 1px solid white;
    position: relative;
    width: 100%;
    background-color: #d8dbdb;
}


/*-----Menu-----*/
#menu {
    width: 200px;
    height: 100%;
    background-color: #191818;
    float: left;
    position: fixed;
}

    #menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #menu ul li {
            color: white;
            height: 50px;
            line-height: 50px;
            transition: all 0.5s;
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            position: relative;
        }

            #menu ul li:hover {
                background-color: #454545;
            }

            #menu ul li a {
                color: white;
                display: block;
                padding: 0 0.3em;
                border-bottom: 1px solid #333;
            }

            #menu ul li .sub-menu {
                display: none;
                position: absolute;
                top: 0;
                left: 200px;
                width: 200px;
                height: 400px;
                overflow: auto;
                background-color: #191818;
                list-style-type: none;
            }

            #menu ul li:hover .sub-menu {
                background-color: #454545;
                display: block;
            }

.sub-menu a {
    text-decoration: none;
    color: white;
    display: block;
    text-indent: 10px;
    font-size: 12px;
}

    .sub-menu a:hover {
        background-color: #191818;
    }

.sub-menu ul li {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#menu ul li #sub-menu-box {
    height: 101px;
}





/*-----Content-----*/
#content {
    margin-left: 200px;
    width: 85%;
    float: left;
    z-index: 1;
    max-height: 920px;
    min-height: 500px;
}

.row {
    overflow: hidden;
    margin: 2.5% auto;
}

    .row .col {
        float: left;
        width: 40%;
        height: 500px;
        margin-left: 2.5%;
        background-color: white;
    }


#head-sub-content {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #191818;
    text-align: center;
    margin-top: -17px;
}

#sub-content {
    width: 85%;
    min-height: 500px;
    background-color: white;
    margin-left: 2.5%;
}

#name-sub-content {
    width: 30%;
    height: 60px;
    line-height: 60px;
    color: white;
    background-color: #191818;
    text-align: center;
    font-size: 20px;
    margin-left: 2.5%;
    margin-top: 2.5%;
    display: inline-block;
}


    /*----Footer-----*/
#footer{
    margin-left: 200px;
    text-align: center;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}

/*----acc----*/
#acc {
    display: inline;
}

    #acc > ul {
        list-style-type: none;
        width: 50%;
        float: right;
        margin-top: 20px;
    }

        #acc > ul > li {
            color: white;
            display: inline-table;
            width: 40%;
            line-height: 30px;
            position: relative;
        }

            #acc > ul > li > a {
                color: white;
                text-decoration: none;
                display: block;
                border: 1px solid white;
                background-color: #191818;
                text-align: center;
                font-size: 12px;
            }

                #acc > ul > li > a:hover {
                    background-color: #454545;
                }

            #acc > ul > li > .sub-acc {
                display: none;
                position: absolute;
                background: #191818;
                width: 186px;
                list-style-type: none;
                height: 60px;
                right: 0;
                z-index: 2;
                border: 1px solid white;
            }


            #acc > ul > li:hover > .sub-acc {
                display: block;
            }

.sub-acc a {
    text-decoration: none;
    color: white;
    display: block;
    text-indent: 10px;
    font-size: 12px;
    width: 128%;
    margin-left: -40px;
}

    .sub-acc a:hover {
        background-color: #454545;
    }


    #popup > a > #dkyNTD {
        background:black;
        float:right;
        margin-top:150px;
        margin-right:5px;
        color:white;
        width:120px;
        height:60px;
    }
    #popup > .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        border: 16px solid;
        border-color:silver;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
    #popup > .white_content > a > #nutX {
        float:left;
    }
    #popup > .white_content > #idAcc {
        padding-left:30px;
    }
    #popup > .white_content > #idAcc > dk{
        width:140px;
    }
    #popup > .white_content > #thongTin {
         padding-left:30px;
    }
    #popup > .black_overlay {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        opacity:.80;
        filter: alpha(opacity=80);
    }